*
{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    background-image: url("../assets/bg.png");
    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 700;
    color:white;
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    background-color: black;
    padding:1.1% 5% 1%;
    align-items: center;
}
.menu{
    flex-grow: 2;
}
.menu li{
    display: inline;
    margin-left: 3.5%;
    font-size: 16px;
}
.logo{
    margin-right: 7%;
    margin-left:3%;
}
.logo img{
    width: 80%;
}
main{
    text-align: center;
    /* color:white; */
}
main h1{
    font-size: 78px;
    padding-top: 10%;
}
main p{
    padding: 10px 0;
    font-size: 19px;
    font-weight: 600;
}
main button{
    margin-top: 1.7%;
    padding: 15px 30px;
    border-radius: 8px;
    border: 0.5px solid white;
    background-color: #B90EC5;
    color: white;
    font-weight: 700;
}
header button{
    padding:8px 16px;
    border-radius: 6px;
    background-color: #B90EC5;
    border: 1px solid white;
    color: white;
    font-weight: 700;

}